[submodule "ttpla_dataset"]
	path = ttpla_dataset
	url = https://github.com/R3ab/ttpla_dataset.git
[submodule "datasets/ttpla_dataset"]
	path = datasets/ttpla_dataset
	url = https://github.com/R3ab/ttpla_dataset.git
