.login_page {}

.login_page .login_box {
  width: 400px;
  min-height: 500px;
  border: 4px solid var(--pink-3);
  border-radius: 4px;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;

  padding: 10px 10px;

}

.login_page .login_box .login_box_title {
  text-align: center;
  font-size: 20px;
}

.login_page .input_form {
  display: flex;
  flex-direction: column;
}

.login_page .input_item {
  display: flex;
}

.login_page .input_item .input_item_title {
  width: 4em;
}