.create_product_page {}

.create_product_page .upload_button {
  font-size: 28px;
}


.create_product_page input {
  visibility: hidden;
}

//img_gallery
.create_product_page .img_gallery {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.create_product_page .img_gallery img {
  flex: 1;
  width: 30%;
}