//problem:不知为何这里用rpx会失效,只能用px啊啊啊啊啊！！！！

//横线-长-细
//<View className='line_horizontal'/>
.line_horizontal {
  display: block;
  margin: 0 auto;

  width: 98%;
  height: 3PX;
  background: var(--pink-4);
  border-radius: 10PX; //注:这里写百分比和PX是不同的
}


//横线-长-粗
//<View className='line_horizontal_bold'/>
.line_horizontal_bold {
  display: block;
  margin: 0 auto;
  width: 98%;
  height: 3PX;
  background: var(--pink-4);
  border-radius: 10PX; //注:这里写百分比和PX是不同的
}

//竖线
.line_vertical {
  display: block;
  margin: 0 auto;

  height: 98%;
  width: 1px;
  border-left: solid var(--pink-4) 5PX;
}

//圆点点
//<View className='dot_small'/>
.dot_small {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: auto 0;

  background-color: var(--pink-4);
}

//遮罩层(透明
//  <View className='mask_transparent'
//  onClick={() => toggleActionButtons(false)}
// />
.mask_transparent {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;


  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

//遮罩层(半透明
//  <View className='mask_translucent'
//  onClick={() => toggleActionButtons(false)}
// />
.mask_translucent {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;


  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.3);
}

//必选项星号
//<View className='required_mark'>*</View>
.required_mark {
  //padding:1% 5PX 0 0;
  position: relative;
  left: -5PX;

  color: var(--red-2);
}

//内容为空时显示的文字
//<View className='empty_word'> 暂无自提点</View>
.empty_word {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-bottom: 25%;

  font-size: 35PX;
  color: var(--gray-2);
}

//<View className='inline_block'></View>
.inline_block {
  display: inline-block
}

//flex
.flex {
  display: flex;
}

//<View className='flex_wrap'></View>
.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

//<View className='position_relative'></View>
.position_relative {
  position: relative;
}

//使子元素横向居中
//<View className='align_center'></View>
.align_center {
  text-align: center;
}

//横向居中 //*must set height、width、display:block
//<View className='center_horizontally'></View>
.center_horizontally {
  position: absolute;
  left: 50%; //*位置根據上一個設置了position的父元素
  transform: translate(-50%, 0);
  margin: 0 auto;
}

//纵向居中
//<View className='center_vertically'></View>
.center_vertically {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto 0;
}

//完全居中
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

//words
.white_space {
  white-space: nowrap;
}

.break_all {
  word-break: break-all;
}

//flex
.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

//flex + items-center = 子元素纵向居中
.items-center {
  align-items: center;
}

//flex + justify-center = 子元素横向居中(多个时居中均匀分布
.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end; //*注：不是end是flex-end！！！
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.wrap {
  padding: 0 1em;
}



//button
.mie_button {
  display: inline-block;
  margin: 5PX 7PX;
  padding: 7PX 12PX;

  height: fit-content;
  font-size: 28PX;
  background-color: white;
  color: var(--pink-4);
  width: fit-content;
  border-radius: 10PX;
  border: 2PX var(--pink-4) solid;

}

.mie_button:active {
  //  background-color: var(--pink-1);
  //  color: white;
  //  border-color: var(--pink-1);
}

.mie_button_choosen {
  background-color: var(--pink-4);
  color: white;
}

.mie_button_choosen:active {
  //  background-color: var(--pink-4);
  //  border-color: var(--pink-4);
}


//add_new_button
.add_new_button {
  text-align: center;

  border-bottom: 4px var(--pink-5) solid;
}

.add_new_button .at-icon {
  align-items: center;
  padding: 35PX 0 26PX 0;
  display: flex;
  justify-content: center;

  color: var(--pink-5);
  font-size: 50PX;
}

.add_new_button .at-icon .word {
  font-size: 37PX;
  margin-left: 8PX;
}

//toggle_button_arrow
.toggle_button_arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  color: var(--gray-2);
}

.toggle_button_arrow .at-icon {
  font-size: 45PX;
  color: var(--gray-2);
}

//replicable_item 长按可复制的文字
.replicable_item:active {
  background-color: var(--gray-1);
}