:root {

  --pink-1: #ffc0aa;
  --pink-2: #ffae94;
  --pink-3: #ff9e7e;
  --pink-4: #f6815b;

  --gray-1: #f7f7f7;
  --gray-2: #cacaca;
  --gray-3: #ababab;
  --gray-4: #909090;
  --gray-5: #6e6e6e;
  --gray-6: #464646;
  --gray-7: #303030;
}

//常用组件
.mc_button {
  background: var(--pink-1);
  width: fit-content;
  padding: 10px 7px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
  border-radius: 4%;
}

.mc_button:active {
  background: var(--pink-2);
}

.mc_button_plain {
  background: white;
  width: fit-content;
  padding: 10px 7px;
  color: var(--pink-1);
  border: 3px solid var(--pink-1);
  cursor: pointer;
  -webkit-user-select: none;
  border-radius: 4%;
}

.mc_button_plain:active {
  color: var(--pink-2);
  border: 3px solid var(--pink-2);
}

//字体
@font-face {
  font-family: 'SetoFont';
  src: url('../../src/resources/fonts/SetoFont-1.ttf');
}

@font-face {
  font-family: 'MengDongFont';
  src: url('../../src/resources/fonts/MengDongFont.ttf');
}

@font-face {
  font-family: 'KangKangFont';
  src: url('../../src/resources/fonts/KangKangFont.ttf');
}