<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div>选择图片</div>
    <form action='' enctype='multipart/form-data' method='POST'>
        <input type='file' style="margin-top:20px; margin-top: 15px;"/>
        <br>
        <input type="submit" value="上传" class="button-new">
    </form>
<h1>图片上传成功</h1>
{# <img src="{{ url_for("static", filename= "./imgs/test.jpg",_t=val1) }}" width="400" height="400" alt="图片"/>#}
 <img src="{{ imgUrl }}" width="400" height="400" alt="图片"/>
<p>imgUrl:{{ imgUrl }}</p>
<p>upload_path:{{ upload_path }}</p>
</body>
</html>