.home_page {
  font-family: KangKangFont;
}

.home_page .info_box {
  text-align: -webkit-center;
}

.home_page .info_box .my_icon {
  width: 100PX;
}

.home_page .info_box .my_name {
  font-size: 25PX;
}